/**
 * @file
 * Responsive Web Design default CSS
 *
 * @author: Daniel Honrade http://drupal.org/user/351112
 *
 */

/* RWD Images Render */  
.rwdimage { width: 100%; height: auto; } 
#rwdimage-dummy { display: none; }

/* RWD Images Admin UI */
#edit-rwdimages .rwdimages-columns {}
#edit-rwdimages .rwdimages-column { width: 49%;}
#edit-rwdimages .rwdimages-column-1 { float: left; }
#edit-rwdimages .rwdimages-column-2 { float: right; }
#edit-rwdimages .description { clear: both; }
